// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$material-light: (
  'background': #F7F8F9,
);
$material-dark: (
  'background': #1C1C1C,
);

$grid-breakpoints: (
    xs: 0,
    sm: 650px,
    md: 1250px,
    lg: 1250px,
    xl: 1250px
);

$toolbar-content-padding-y: 0;
$menu-content-elevation: 4;
